<h1>School Class Form</h1>

<%= form_for @school_class, url: school_class_path do |f| %>
  <div>
    <label>Title</label>
    <%= f.text_field :title %>
  </div>
  <div>
    <label>Room Number</label>
    <%= f.number_field :room_number %>
  </div>
  <button>Update School Class</button>
<% end %>
